<h2>Add a Doctor</h2>
<form action="/doctors" method="POST">
  <p>Doctor Name: <input type="text" name="name"></p>
  <p>E-mail: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>Department: <input type="text" name="department"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>