<h2>Add new appointment</h2>
<form action="/appointments" method="POST">
  <p>Appointment: <input type="date" value="2011-01-13" name="appointment_date"/></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>