<h2> Signup new Account  </h2>

<form action="/signup" method="post">
<label>Username:</label><input type="text" name="username"  >   </rb>
<label>Email:</label><input type="email" name="email" > </rb>
<label>Password:</label><input type="password" name="password" > </rb>
<input type="submit" name="signup" value="signup">
</form>